# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# Environment variables
.env

# Local docker credentials (if you use a local file)
.docker/local_credentials

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
